#include "windows.h"
#include "afxres.h"

1000 DIALOGEX 20, 10, 379, 199
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Just Log - General Plugin Configuration"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    LTEXT           "Log File Path",IDC_STATIC,9,10,92,8
    EDITTEXT        99001,109,7,264,14,ES_AUTOHSCROLL
    LTEXT           "[Local File] String Format",IDC_STATIC,9,26,92,8
    EDITTEXT        99002,109,23,264,14,ES_AUTOHSCROLL
    LTEXT           "[Stream] String Format",IDC_STATIC,9,42,92,8
    EDITTEXT        99006,109,39,264,14,ES_AUTOHSCROLL
    LTEXT           "%0 = Filename",IDC_STATIC,112,55,54,8
    LTEXT           "%1 = Title",IDC_STATIC,178,55,54,8
    LTEXT           "%2 = Artist",IDC_STATIC,242,55,54,8
    LTEXT           "%3 = Album",IDC_STATIC,309,55,54,8
    LTEXT           "%4 = Date",IDC_STATIC,112,63,54,8
    LTEXT           "%5 = Track",IDC_STATIC,178,63,54,8
    LTEXT           "%6 = Genre",IDC_STATIC,242,63,54,8
    LTEXT           "%7 = Comment",IDC_STATIC,309,63,54,8
    LTEXT           "%8 = File Type",IDC_STATIC,112,71,54,8
    LTEXT           "%d = Day",IDC_STATIC,178,71,54,8
    LTEXT           "%m = Month",IDC_STATIC,242,71,54,8
    LTEXT           "%y = Year",IDC_STATIC,309,71,54,8
    LTEXT           "%h = Hour",IDC_STATIC,112,79,54,8
    LTEXT           "%i = Minute",IDC_STATIC,178,79,54,8
    LTEXT           "%s = Second",IDC_STATIC,242,79,54,8
    LTEXT           "%t = Tab Delimiter",IDC_STATIC,309,79,54,8
    LTEXT           "%n = New Line",IDC_STATIC,242,86,54,8
    LTEXT           "%z = Stream Title",IDC_STATIC,309,86,54,8
    CONTROL         "Remove path from %0 Filename",60,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,109,88,122,10
    LTEXT           "Logging Action",IDC_STATIC,10,109,92,8
    COMBOBOX        99003,109,107,264,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Max Size [If Append]",IDC_STATIC,10,125,92,8
    EDITTEXT        99004,109,122,74,14,ES_AUTOHSCROLL
    LTEXT           "KB [0 = Unlimited]",IDC_STATIC,188,125,60,8
    CONTROL         "Make New [Keep Log]",20,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,259,124,111,10
    LTEXT           "Exclude Types [MP3;FLAC]",IDC_STATIC,10,146,92,8
    EDITTEXT        99005,109,143,264,14,ES_AUTOHSCROLL
    CONTROL         "Exclude Files",30,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,109,161,60,10
    CONTROL         "Exclude Streams",40,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,188,161,60,10
    CONTROL         "Exclude Untitled",50,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,259,161,75,10
    CONTROL         "Show cuesheet and net stream titles (requires 3.4.1)",10,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,182,190,10
    DEFPUSHBUTTON   "OK",IDOK,324,179,50,14
END

1 VERSIONINFO
 FILEVERSION 1,4,0,0
 PRODUCTVERSION 0,0,0,0
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "CompanyName", "Nathan Hindley\0"
            VALUE "FileDescription", "Just Log - General Plugin\0"
            VALUE "FileVersion", "rev.3\0"
            VALUE "LegalCopyright", "zlib License\0"
        END
    END
END
